@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

body{
    background: var(--cor-azul);
}

.conteudo{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;

}

.entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.entrada__campo{
    background-color: var(--cor-rosaClaro);
    background-size: cover;
    width: 30rem;
    height: 35rem;
    align-content: center;
    justify-content: center;
    border-top: 0.25rem solid var(--cor-branco);
    border-left: 0.25rem solid var(--cor-branco);
    border-right: 0.25rem solid var(--cor-rosaEscuro);
    border-bottom: 0.25rem solid var(--cor-rosaEscuro);
    border-radius: 0.3125rem; 
    outline: 0.125rem solid var(--cor-azulEscuro); 
}

.entrada__campo__topo{
    position: relative;
    align-content: center;
    height: 3rem; 
    border-top-left-radius: 0.125rem; 
    border-top-right-radius: 0.125rem;
    background-color: var(--cor-lilas);
    border: none;
}

.topo__fechar{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.entrada__campo__texto{
    text-align: justify;
    
}
.entrada__texto{
    width: 100%;
    background: none;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    padding: 0.625rem;
    font-size: 1.5rem;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    resize: none;
    border: none;
}

.entrada__texto:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.entrada__aviso{
    background-color: var(--cor-amarelo);
    width: 28rem;
    height: 3rem;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-top: 0.25rem solid var(--cor-branco);
    border-left: 0.25rem solid var(--cor-branco);
    border-right: 0.25rem solid var(--cor-rosaEscuro);
    border-bottom: 0.25rem solid var(--cor-rosaEscuro);
    border-radius: 1.875rem; 
    outline: 0.125rem solid var(--cor-azulEscuro);
    
}
.aviso__imagem{
    width: 1.5rem;
}
.entrada__aviso__texto{
    font-family:"IBM Plex Mono", monospace;
    font-size: 0.95rem;
    font-weight: 600;
}

.entrada__botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botao{
    width: 30rem;
    height: 3rem;
    cursor: pointer;
    color: var(--cor-azulEscuro); 
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: var(--cor-rosaClaro); 
    border-top: 0.25rem solid var(--cor-branco);
    border-left: 0.25rem solid var(--cor-branco);
    border-right: 0.25rem solid var(--cor-rosaEscuro);
    border-bottom: 0.25rem solid var(--cor-rosaEscuro);
    border-radius: 0.3125rem; 
    outline: 0.125rem solid var(--cor-azulEscuro);
}

.botao:active{
    box-shadow: -0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    background: #F4E6DC; 
    transform: translateY(3px);
}
#botao-criptografar{
    margin-top: 1rem;
}
#botao-criptografar:disabled{
    opacity: 0.5; 
    cursor: not-allowed;
    background: var(--cor-cinza);
    border: none;
}

#botao-descriptografar{
    margin-top: 1rem;
}
#botao-descriptografar:disabled{
    opacity: 0.5; 
    cursor: not-allowed;
    background: var(--cor-cinza);
    border: none;
}

#botao-trocar{
    width: 3rem;
    height: 3rem;
    background: var(--cor-rosaClaro); 
    border-top: 0.25rem solid var(--cor-branco);
    border-left: 0.25rem solid var(--cor-branco);
    border-right: 0.25rem solid var(--cor-rosaEscuro);
    border-bottom: 0.25rem solid var(--cor-rosaEscuro);
    border-radius: 0.3125rem; 
    outline: 0.125rem solid var(--cor-azulEscuro);
}

#botao-trocar:active{
    box-shadow: -0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    background: #F4E6DC; 
    transform: translateY(3px); 
}
#seta-trocar{
    margin: 0.5rem;
}

.retorno{
    
}
.retorno__campo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--cor-rosaClaro);
    background-size: cover;
    width: 30rem;
    height: 35rem;
    border-top: 0.25rem solid var(--cor-branco);
    border-left: 0.25rem solid var(--cor-branco);
    border-right: 0.25rem solid var(--cor-rosaEscuro);
    border-bottom: 0.25rem solid var(--cor-rosaEscuro);
    border-radius: 0.3125rem; 
    outline: 0.125rem solid var(--cor-azulEscuro);
}


.retorno__campo__imagem{
    
}

#busca-imagem{
    width: 50%;
    
}

.retorno__texto{
    width: 100%;
    background: none;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    padding: 0.625rem;
    font-size: 1.5rem;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    resize: none;
    border: none;
}

.retorno__texto:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.retorno__campo__imagem{
    
}

#busca-imagem{
    width: 50%;
} 

.retorno__botao-copiar{
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#botao-copiar{
    
}

.rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--cor-lilas);
    color: var(--cor-azulEscuro);
    font-family: var(--font);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

:root {
    --cor-branco: #ffffff;
    --cor-amarelo: #FFE68E;
    --cor-preto: #000000;
    --cor-violeta: #8E0990;
    --cor-rosa: #FFBBF0;
    --cor-rosaEscuro: #E96992;
    --cor-rosaClaro: #FFE1E6;
    --cor-azul: #befcfc;
    --cor-azulEscuro: #0058AA;
    --cor-violetaclaro: #BC4FBE;
    --cor-lilas: #E9B7E8;
    --cor-cinza: #808080;
    --font: "IBM Plex Mono", monospace;
}