*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    height: 100vh;
    background: rgb(148,148,235);
    background-image: linear-gradient(0deg, rgba(148,148,235,1) 0%, rgba(179,163,223,1) 25%, rgba(204,170,220,1) 50%, rgba(224,167,199,1) 75%, rgba(220,157,186,1) 100%);
}

.conteudo{
    display: flex;
    padding: 5% 15%;
    align-items: center;
    justify-content: space-between;
    gap: 25%;
}

section{

}

.entrada__card, .retorno__card{
    width: 500px;
    align-content: center;
    justify-content: center;
    border: 4px solid var(--cor-preto);
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px var(--cor-preto);
    
}

.entrada__card__topo{
    display: flex;
    align-content: center;
    height: 55px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--cor-azul);
    border-bottom: 4px solid var(--cor-preto);
}

.entrada__card__conteudo{

}

.entrada__botao{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.entrada__botao__tecla {
    width: 12.5rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: #332020; 
    font: bold 20px arial;
    text-decoration: none;
    text-align: center;
    background: #F4E6DC; 
    border-radius: 5px;
    border: 0px solid #332020;
    box-shadow: 0px 5px 0px #DECDBA,  2px 3px 0px #DECDBA, -2px 3px 0px #DECDBA;
    transition: background 0.3s, transform 0.1s ease-out;
}

.entrada__botao__tecla:active {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    background: #F4E6DC; 
    transform: translateY(3px);
}









.retorno__card__topo{
    display: flex;
    align-content: center;
    height: 55px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--cor-amarelo);
    border-bottom: 4px solid var(--cor-preto);    
}

.retorno__card__conteudo{

}

:root {
    --cor-branco: #fbfaff;
    --cor-preto: #000000;
    --cor-violeta: #8E0990;
    --cor-rosa: #FFBBF0;
    --cor-verde: #DBFF8F;
    --cor-amarelo: #FFE68E;
    --cor-azul: #A4FAFF;
    --cor-violetaclaro: #BC4FBE;
    --cor-lilas: #AC9CE9
}